<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <h1>Title</h1>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="title">
  <h1>Compose</h1>
  <textarea class="form-control" aria-label="With textarea" name="composer"></textarea>
  <button type="submit" name="button" class="btn btn-primary">compose</button>
</form>
<%- include("partials/footer") -%>
